.LandingPage {
  margin-bottom: 50px;
  font-family: "Chivo", "sans-serif";
  --text-shadow: var(--accent);
}

.LandingPage h1 {
  color: #fdfdff;
  font-size: 100px;
  margin: 0;
  text-shadow: #5cc8db 1px 1px, #5cc8db 2px 2px, #5cc8db 3px 3px,
    #5cc8db 4px 4px, #5cc8db 5px 5px;
}

.LandingPage h2 {
  color: #fdfdff;
  font-size: 50px;
  margin-top: 0;
  text-shadow: #5cc8db 1px 1px, #5cc8db 2px 2px, #5cc8db 3px 3px;
}

.LandingPage h3 {
  font-size: 20px;
  max-width: 600px;
  margin-left: 25px;
}

.Section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.Section img {
  height: 300px;
}
